spring:
  datasource:
    url: jdbc:h2:mem:mosiqa-test;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  h2:
    console:
      enabled: false
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8080

logging:
  level:
    com.kyojin.mosiqa: WARN
    org.springframework.web: WARN
